body {
    font-family: "Comfortaa";
    font-size: 24px;
    line-height: 24px;
    background-attachment: fixed;
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    background: #f7f7f7;
    position: fixed;
    top: 0;
    z-index: 4;

    width: 90vw;
    padding: 0 90px;
    margin-bottom: 15px;
}

.main-nav{
    display: flex;
}

.logo {
    margin-right: auto;
    text-decoration: none;
}

.logo h1{
    font-size: 30px;
    color: #0F1839;
}

.site-navigation {
    padding: 0;
    margin: auto 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
}

.site-navigation-item a {
    font-size: 20px;
    line-height: 18px;
    color: #0F1839;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-item a:hover {
    opacity: 0.5;
}

.site-navigation-item a:active {
    opacity: 0.3;
}

.site-navigation-name a {
    margin-left: 45px;
    font-size: 20px;
    line-height: 18px;
    color: #0F1839;
}
  
.search {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;

    margin-left: 120px;
    border: 1px solid #00c6bd;
    border-radius: 50%;
}

.search:hover {
    opacity: 0.5;
}

.search:active {
    opacity: 0.3;
}

.main-content {
    color: #000000;
    margin: 0 20px;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Блок information */

.information {
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(40px);

    margin: 0;
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.image1-column, .image2-column {
    width: 620px;
}

.image1-column img, .image2-column img {
    margin-bottom: 50px;
}

.image1-column img:nth-child(2), .image2-column img:nth-child(2) {
    display: block;
    margin-left: auto;

}

.image1-column img:last-child, .image2-column img:last-child {
    display: block;
    margin: 0 auto;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 270px;
}

/* Блок finding-partner */
.finding-partner {
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);

    padding: 0;
    margin: 0;
    border-radius: 40px;
}

.addendum {
    background: rgba(88, 247, 207, 0.5);
    border: 2px solid rgba(88, 247, 207, 0.2);

    margin: 0;
    padding: 30px;
    border-radius: 40px 40px 0 0;
}

.addendum h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}

.addendum ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.addendum .btn {
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.addendum .btn:active{
    background: #000000;
    color: #ffffff;
}

.addendum-list li {
    margin: 0;
    padding: 0;
    display: flex;
}

.input-box p {
    margin: 0;
    padding: 0;
    width: 400px;
    margin: auto 0;
}

.input-box-filter p {
    margin: 0;
    padding: 0;
    width: 387px;
    margin: auto 0;
}

.addendum .input-box, .addendum .input-box-filter{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-filter {
    width: 100%;
    font-family: "Comfortaa";
    display: flex;
    padding: 7px 32px 7px 12px;
    box-sizing: border-box;
    margin: 0;
    font-size: inherit;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 15px top 50%;
    background-size: 13px auto;

    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2317161a%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.input-filter::-ms-expand {
    display: none;
}

.input-filter:focus {
    outline-offset: 0;
}

.hidden {
    display: none;
}

.list {
    margin: 0;
    padding: 30px;
}

.list h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}

.filter {
    font-family: "Comfortaa";
    display: flex;
    padding: 7px 32px 7px 12px;
    box-sizing: border-box;
    margin: 0 0 20px auto;
    font-size: inherit;
    border: none;
    border-radius: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 15px top 50%;
    background-size: 13px auto;

    color: #ffffff;
    background-color: rgba(24, 51, 44, 0.7);
    border: 2px solid rgba(88, 247, 207, 0.2);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

.filter::-ms-expand {
    display: none;
}

.filter:focus {
    outline-offset: 0;
}

.new-user {
    background: rgba(24, 51, 44, 0.7);
    border: 2px solid rgba(88, 247, 207, 0.2);
    color: rgb(255, 255, 255);

    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 40px;
}

.new-user p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.name-user {
    font-size: 30px;
    color: rgb(109, 255, 219);
}

.about-me-user {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Блок footer */
.main-footer {
    background-color: #3A3A3A;
    padding: 30px 90px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.down-logo {
    font-size: 30px;
    text-decoration: none;
    color: #6F6F6F;
}

.social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.social-list-item {
    margin-left: 20px;
}