body {
    font-family: "Comfortaa";
    font-size: 24px;
    line-height: 24px;
    background-attachment: fixed;
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-header {
    background: #fdfdff;
    position: fixed;
    top: 0;
    z-index: 4;

    width: 90vw;
    padding: 0 90px;
    margin-bottom: 15px;
}

.main-nav{
    display: flex;
}

.logo {
    margin-right: auto;
}

.logo h1{
    font-size: 30px;
    color: #0F1839;
}

.site-navigation {
    padding: 0;
    margin: auto 0;
    list-style: none;
}

.site-navigation-item a {
    font-size: 20px;
    line-height: 18px;
    color: #0F1839;
    text-transform: uppercase;
    text-decoration: none;
}

.search {
    width: 49px;
    margin: auto 0;
}
  
.search {
    margin-left: 120px;
}

.main-content {
    color: #000000;
    margin-top: 74px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Блок information */
.hero {
    width: 1480px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 60px;
    line-height: 60px;
    font-style: italic;
    width: 870px;
}

.hero-img {
    width: 304px;
    margin-right: 50px;
}

.why-us {
    width: 620px;
    margin: 0 auto;
}

.why-us h2 {
    text-align: center;
}

.card-block {
    display: flex;
    justify-content: space-between;
}

.card {
    color: #ffffff;
    background-color: #0F1839;
    width: 160px;
    margin: 0;
    padding: 30px;
    list-style: none;
    border-radius: 40px;
}

h3 {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-position: under;
    text-align: center;
}

.information {
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);

    margin: 0 30px;
    padding: 30px;
    border-radius: 40px;
    margin-bottom: 20px;
}

/* Блок finding-partner */
.finding-partner {
    background: transparent;
    border: 2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);

    padding: 0;
    margin: 0 30px;
    border-radius: 40px;
}

.addendum {
    background: rgba(88, 247, 207, 0.7);
    border: 2px solid rgba(88, 247, 207, 0.2);

    margin: 0;
    padding: 30px;
    border-radius: 40px 40px 0 0;
}

.addendum h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}

.addendum ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 40px;
}

.addendum .btn{
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.addendum .btn:active{
    background: #000000;
    color: #ffffff;
}

.addendum-list li {
    margin: 0;
    padding: 0;
    display: flex;
}

.addendum-list p {
    margin: 0;
    padding: 0;
    width: 400px;
    margin: auto 0;
}

.addendum .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.list {
    margin: 0;
    padding: 30px;
}

.list h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}

.new-user {
    background: rgba(24, 51, 44, 0.7);
    border: 2px solid rgba(88, 247, 207, 0.2);
    color: rgb(255, 255, 255);

    margin: 0;
    padding: 0;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 40px;
}

.new-user p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.name-user {
    font-size: 30px;
    color: rgb(109, 255, 219);
}

.about-me-user {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Блок footer */
.main-footer {
    background-color: #3A3A3A;
    padding: 30px 90px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.down-logo {
    font-size: 30px;
    text-decoration: none;
    color: #6F6F6F;
}

.social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.social-list-item {
    margin-left: 20px;
}